.formu {
    padding-top: 1px ;
    border: 1rem transparent;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.button-login {
    background-color: #04AA6D;
    color: rgb(253, 253, 253);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.button-login:hover {
    background-color: #057049;
}
.cancelar {
    width: auto;
    padding: 10px 18px;
    color: rgb(255, 255, 255);
    background-color: #e43c30;
    border: none;
}
.cancelar:hover {
    background-color: #cf2418;
}
.container-img {
    text-align: center;
    margin: 24px 0 12px 0;
}
.container {
    margin-top:120px;
    padding: 16px;
    width: 100%;
}
.space {
    margin-top:1rem;
    padding: 3rem;
    width: 100%;
}

span.psw {
    float: right;
    padding-top: 1rem;
}
@media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .btn-cancel {
      width: 100%;
    }
}

#fondo{
    background-color: #ffffff;

}