*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 175px;
}

.logo-empresa{
    width: 270px;
}

.GitHub{
    width: 25px;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    color: #333;
}
img{
    max-width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}






/* Main*/
.container-items{
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: absolute;
}

.items{
    border-radius: 15px;
}

.items:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.items img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.items figure{
    overflow: hidden;
}

.items:hover img{
    transform: scale(1.2);
}

.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 10px;
    font-weight: 900;
}

.info-producto button{
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    background: none;
    color: #000000;
    padding: 15px 10px;
    cursor: pointer;
}



/* Barra de navegacion */
nav{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 100px;
    background-color: #242526;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

nav .Logo{
   float: left;
   width: 40%;
   height: 100%;
   display: flex;
   align-items: center;
   font-size: 30px;
   color: #ffffffff;
   font-weight: bold;
   text-transform: uppercase;
   list-style: none;
}

nav .list{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .list{
    list-style: none;
    margin-left: 40%;
}

nav li{
    padding-inline: 20px;
}

nav .list a {
    display: block;
    text-transform:uppercase;
    list-style: none;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffffff;
    text-decoration: none;
    line-height:30px;
    letter-spacing: 3px;
}

nav .list a:hover{
    border-bottom: 4px solid #675bf9;
}




/* Footer */

footer{
    background-color: #04213e;
    color: #ffffffff;
    text-decoration: none;
    padding: 0 5%;
    height: 100px;
    background-color: #242526;
    margin-bottom: 20px;
    z-index: 10;

}

footer .lado-izquierdo{

    float: left;
}

footer .lado-derecho{

    float: right;
}

footer .lado-derecho .redes{
    float: right;
}

footer .lado-derecho .creadores{
    float: left;
    margin-right: 50px;
}

footer li{
    list-style: none;
}

.GitHub{
    width: 30px;
    height: 30px;
}
.redesgit{
    text-decoration: none;
    color: #ffffffff;
    
}