<html>
</main>
<footer>
    <div class="lado izquierdo">
        <div class="Logofooter">
            <p>AgroVen</p>
            <img src="#" alt="AgroVen img">
        </div>
        <div class="enlaces">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/login">Iniciar Sesion</a></li>
                <li><a href="/registro">Registrarse</a></li>
            </ul>
        </div>
    </div>
    <div class="lado derecho">
        <div class="creadores">
            <p>creadores</p>
            <p>Lex R & Ton M</p>
            <p>2024</p>
        </div>
        <div class="redes">
            <p>Discord <img src="../img/imagen1.png" alt="Discord img"></p>
            <a href="">Lex R</a>
            <a href="">Ton M</a>
            <p>GitHub <img src="../img/imagen2.png" alt="GitHub img"></p>
        </div>
    </div>
</footer>
</body>
</html>