<html>
</main>
<footer class="footer">
    <div class="lado-izquierdo">
        <div class="Logofooter">
            <a href="/"><img src="/img/imagen7.png" alt="AgroVen logo" class="logo"></a>
        </div>
        <div class="enlaces">
            <ul>
                <li><a href="/login">Iniciar Sesion</a></li>
                <li><a href="/registro">Registrarse</a></li>
            </ul>
        </div>
    </div>
    <div class="lado-derecho">
        <div class="creadores">
            <h3>Creadores</h3>
            <p>Lex R & Ton M</p>
            <p>2024</p>
        </div>
        <div class="redes">
            <h3>Redes</h3>
            <p>GitHub <img src="/img/imagen2.png" alt="GitHub img" class="GitHub"></p>
            <a href="https://github.com/LexilesR">Lex R</a>
            <a href="https://github.com/Dev-TonyM">Ton M</a>
            
        </div>
    </div>
</footer>
</body>
</html>