<%- include('header.ejs') %> 
<main>


                <!-- ejemplos!!! -->



    <div class="container-items">
        <div class="items">
            <figure>
                <img src="/img/b2ap3_amp_lnea-de-productos.jpg" alt="Cremas">
            </figure>
            <div class="info-producto">
                <h2>Cremas</h2>
                <p class="precio">80$</p>
                <button>Agregar al carrito</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/descarga.jpg" alt="Cajas">
            </figure>
            <div class="info-producto">
                <h2>Cajas</h2>
                <p class="precio">120$</p>
                <button>Agregar al carrito</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/estrategiaproductos.jpeg" alt="Cremas">
            </figure>
            <div class="info-producto">
                <h2>Cremas estantes</h2>
                <p class="precio">180$</p>
                <button>Agregar al carrito</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/online-shopping-mexico-800-3423d44e0.png" alt="Cremas">
            </figure>
            <div class="info-producto">
                <h2>Shopping</h2>
                <p class="precio">400$</p>
                <button>Agregar al carrito</button>
            </div>
        </div>
    </div>
</main>
<%- include('footer.ejs') %>