<%- include('../header.ejs') %>
<link rel="stylesheet" href="/css/login.css">
<main id="main">
    <div id="fondo">
        <form method="post" action="../index" class="formu">
            <div class="container">
                <label for="user"><b>Username</b></label>
                <input type="text" placeholder="Username" name="user" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Password" name="psw" required>
                <button type="submit" class="button-login">Login</button>
                <button type="button" class="cancelar">Cancelar</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
            <div class="space"></div>
        </form>
    </div>
    
</main>

<%- include('../footer.ejs') %>
